@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body{
    background-color: #eee;
    /* font-family: 'Abril Fatface', cursive; */
}
.newspaper-container{
    width: 700px;
    background-color: white;
    box-shadow: 1px 1px 10px 1px #ddd;
    border-radius:15px;
    padding: 1em;
    margin: auto;
}
.newspaper-container h1{
    text-align: center;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 0.2em;
    font-size: 13px;
}
ul li a{
    color: #777;
}
nav{
    border-top:1px solid #777;
    border-bottom: 1px solid #777;
}

h1, h2, h4, h5{
    font-family: 'Abril Fatface', cursive;
}
h5{
    color: red;
}
a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
    margin: auto;
}
main p{
    text-align: justify;
}
main{
    padding-bottom: 2em;
    border-bottom: 1px solid #777;
}

.more-articles{
    margin-top: 1em;
}
.more-articles section{
    display: inline-block;
    width: 45%;
    margin: 1em;
}
.more-articles section p{
    text-align: justify;
}

.even-more-articles section{
    display: inline-block;
    width: 28%;
    margin: 1em;
}
.even-more-articles section p{
    text-align: justify;
}
footer{
    border-top: 8px double #777;
    text-align: center;
}
footer ul li{
    font-size: 15px;
}
footer section a{
    color: #777;
    display: inline-block;
    margin: 0.5em;
    font-size: 12px;
}
